<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
			<ion-menu-button autoHide="false"></ion-menu-button>
		</ion-buttons>
    <ion-title>Página com Badge</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-text ><center><h3>Badges</h3></center></ion-text>
  <ion-item>
    <ion-icon name="book-outline" ></ion-icon>
    <ion-label>Emails</ion-label>
    <ion-badge slot="end">99</ion-badge>
  </ion-item>
  <ion-item>
    <ion-icon name="bulb-outline"></ion-icon>
    <ion-label>Projetos</ion-label>
    <ion-badge color="secondary" slot="end">10</ion-badge>
  </ion-item>
  <ion-item>
    <ion-icon name="bandage-outline"></ion-icon>
    <ion-label>Tarefas</ion-label>
    <ion-badge color="warning" slot="end">15</ion-badge>
  </ion-item>
  <ion-item>
    <ion-icon name="calendar-outline"></ion-icon>
    <ion-label>Reuniões</ion-label>
    <ion-badge color="danger" slot="end">6</ion-badge>
  </ion-item>
</ion-content>
