 <ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
			<ion-menu-button autoHide="false"></ion-menu-button>
		</ion-buttons>
    <ion-title>
      <center>Restaurante Outbêco - Home</center>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
<br>
  <div id="container">

    <section class="full-width">
           <ion-button expand="full" color="danger">Confira nosso prato do dia!</ion-button>
    </section>


    <ion-card *ngFor="let item of cardapio" [routerLink]="[item.url]" >
    
      <img src="./madison.jpg" />
      <ion-card-header>
           <ion-card-title>{{item.nome}}</ion-card-title>
      </ion-card-header>

    </ion-card>
 
    
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="danger">
  <ion-title>
  Projeto Integrador - Aluno: Felipe da Rocha Lopes - RA: 8114377
  </ion-title>
  </ion-toolbar>
  </ion-footer>