 <ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
			<ion-menu-button autoHide="false"></ion-menu-button>
		</ion-buttons>
    <ion-title>
      <center>Restaurante Outbêco - Home</center>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
<br>
  <div id="container">
    <ion-list>
      <ion-item (click)="mostrarToast($event.target.childNodes[0].data)">
        <ion-label >Alface</ion-label>
      </ion-item>
      <ion-item (click)="mostrarToast($event.target.childNodes[0].data)">
        <ion-label>Salsa</ion-label>
      </ion-item>
      <ion-item (click)="mostrarToast($event.target.childNodes[0].data)">
        <ion-label>Couve</ion-label>
      </ion-item>
      <ion-item (click)="mostrarToast($event.target.childNodes[0].data)">
        <ion-label>Agrião</ion-label>
      </ion-item>
      <ion-item (click)="mostrarToast($event.target.childNodes[0].data)">
        <ion-label>Brócolis</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="danger">
  <ion-title>
  Projeto Integrador - Aluno: Felipe da Rocha Lopes - RA: 8114377
  </ion-title>
  </ion-toolbar>
  </ion-footer>